
<head>
    <script>
        $(document).ready(function () {
            $('#startDate').calendar();
        });
    </script>
</head>
<body>
    <h1>Partial 1</h1>

    <h3>Input</h3>
    <div class="ui calendar" id="startDate">
        <div class="ui input left icon">
            <i class="calendar icon"></i>
            <input type="text" placeholder="Date/Time" />
        </div>
    </div>

</body>