@{
    Layout = "~/Views/Shared/_LayoutRoot.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <script src="~/js/jqFrameRoot.js"></script>
</head>
<body>
    <button class="ui compact icon blue button" id="btnSidebar">
        <i class="sidebar icon"> </i>
    </button>
    <div class="ui left vertical inverted sidebar labeled icon blue menu">
        <a class="item mySidebarBtn" id="Home">
            <i class="home icon"></i>
            Home
        </a>
        <a class="item mySidebarBtn" id="UserLogin">
            <i class="user icon"></i>
            User Login
        </a>
        <a class="item mySidebarBtn" id="ProductionData">
            <i class="industry icon"></i>
            ProductionData
        </a>
        <a class="item mySidebarBtn" id="QualityData">
            <i class="heartbeat icon"></i>
            Quality Data
        </a>
        <a class="item mySidebarBtn" id="OEE">
            <i class="dashboard icon"></i>
            OEE
        </a>
    </div>
<div id = "partialContent" >
@{
    Html.RenderPartial("_Home");
}
</div>
        <script>
        $(document).ready(function () {
            $(".mySidebarBtn").click(function () {
                var partialContent = $("#partialContent");
                $.ajax({
                    type: "GET",
                    url: '/Home/' + $(this).attr("id"),
                    data: {"id": 0 },
                    success: function (data) {
                        partialContent.html('');
                        partialContent.html(data);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('error on load.');
                    }
                });
            });
        });
    </script>
</body>
</html>

