
@{
    Layout = "~/Views/Shared/_LayoutRoot.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <script src="~/js/jqFrameRoot.js"></script>
</head>
<body>
    <button class="ui compact icon blue button" id="btnSidebar">
        <i class="sidebar icon"> </i>
    </button>
    <div class="ui left vertical inverted sidebar labeled icon blue menu">
        <a class="item" id="home" href="_PartialPage2.cshtml">
            <i class="home icon"></i>
            Home
        </a>
        <a class="item">
            <i class="user icon"></i>
            User Login
        </a>
        <a class="item" id="btnTest">
            <i class="industry icon"></i>
        </a>
        <a class="item">
            <i class="heartbeat icon"></i>
            Quality Data
        </a>
        <a class="item">
            <i class="dashboard icon"></i>
            OEE
        </a>
            @Ajax.ActionLink("Production Data", "Next", null, new AjaxOptions { UpdateTargetId = "partialContent", InsertionMode = InsertionMode.InsertAfter }, new { @class = "white" })
        @Ajax.ActionLink("Next", "Next", null, new AjaxOptions { UpdateTargetId = "partialContent", InsertionMode = InsertionMode.InsertAfter }, new { @class = "btn btn-default" })
    </div>
    <div id="partialContent">
        @{
            Html.RenderPartial("_PartialPage2");
        }
    </div>
</body>
<script>
    $("#btnTest").click(
        function (e)
        {
            e.preventDefault();
            var href = $(this).attr("href");
            $("partialContent").
        }
    )
</script>
</html>

